unstructured
tiktoken
pinecone-client
pypdf
moviepy
pydub
langchain
langchain-community
pandas
numpy
docarray
imageio-ffmpeg
langchain_pinecone
pytube
python-dotenv
streamlit
openai-whisper
sentence_transformers
pinecone-client[grpc]
langchain-google-genai